# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.venv
venv/
ENV/
*.egg-info/
.eggs/

# VSCode
.vscode/

# DVC
.dvc/
*.dvc

# MLflow
mlruns/

# Jupyter Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
